<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->
		<div ng-controller="pokeListCrtl" class="pokemonSearchBox">
			<form action="" class="pokemonSearchForm">
				<input type="text" id="filtre" ng-model="filtreID" placeholder="Rechercher Id"/>
				</br>
				<input type="text" id="filtre" ng-model="filtreNom" placeholder="Rechercher nom"/>
				</br>
				<select ng-model="pokeSelected">
					<option value={{poke}} ng-repeat="poke in filtered=(pokemons | filter:filtreID | filter:filtreNom )">{{poke.name}}</option>
				</select>
				<button type="button" ng-click="go()">Go !</button>
			</form>
		</div>

		<!-- Pokémon information -->
		<div ng-controller="pokeViewCrtl" class="pokemonView">
			<h2>Poke Info</h2>
			<ul>
				<li><span>Id:</span> {{id}} </li>
				<li><span>Name:</span> {{name}} </li>
				<li><span>Moves:</span>
					<ul>
						<li ng-repeat="move in moves">{{move.name}}</li>
					</ul>
				</li>
			</ul>
		</div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>
    
</body>
</html>
